@model SpaDay.ViewModels.AddUserViewModel;
@{
}

<h1>Sign Up Form</h1>


<form method="post" action="/user">
    <br>
    <div class="form-group">
        <label asp-for="Username"></label>
        @if (ViewBag.error == null)
        {
            <input asp-for ="Username" />
            <span asp-validation-for="Username"></span>

        }
        else
        {
            <input asp-for ="Username" value="@Model.Username" />
            <span asp-validation-for="Username"></span>
        }
    </div>
    <br>
    <div class="form-group">
        <label asp-for="Email"></label>
        @if (ViewBag.error == null)
        {
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        }
        else
        {
            <input asp-for="Email" value="@Model.Email" />
            <span asp-validation-for="Email"></span>
        }
    </div>
    <br>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="VerifyPassword">Confirm Password</label>
        <input type="password" asp-for="VerifyPassword" />
        <span asp-validation-for="VerifyPassword"></span>
     </div>
     <br>
     <input type='submit' value='Submit'>
</form>
